* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.container {
    /*outline: 1px solid red; /*рамка для отладки*/
    width: 1140px;
    margin: 0 auto;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
}

.header {
    background-color: #222222;
    padding: 18px 0;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    line-height: 0; /*убираем лишний отступ внизу изображения*/
}

.header-left {
    display: flex;
    align-items: flex-end;
    gap: 41px; /*расстояние между flex*/
}

.button-search,
.button-menu {
    background-color: transparent;
    border: none;
}

.header-raight {
    display: flex;
    align-items: flex-end;
    gap: 33px;
}

.header-link {
    text-decoration: transparent;
    color: #ffffff;
}

.promo {
    background-color: #f1e4e6;
    min-height: 764px;
}

.promo-wrapper {
    background-image: url(../img/promo.png);
    background-repeat: no-repeat;
    min-height: inherit;
    background-position-x: -226px;
    background-position-y: bottom;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.promo-title {
    font-weight: 900;
    font-size: 48px;
    line-height: 38px;
    color: #222222;
    border-left: 12px solid #f16d7f;
    padding-left: 16px;
    margin-right: 100px;
}

.promo-title-small {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.promo-title-pink {
    color: #f16d7f;
}

/* HEADING */

.heading {
    background-color: #f8f3f4;
}

.heading-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 148px;
}

.heading-title {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
}

.breadcrumbs-list,
.sorting-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.breadcrumbs-item::before {
    content: "/";
    margin-right: 10px;
}

.breadcrumbs-item:first-child::before {
    display: none;
}

.breadcrumbs-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    transition: 0.2s;
}

.breadcrumbs-link--current {
    font-weight: bold;
    color: #f16d7f;
}

.breadcrumbs-link[href]:hover {
    text-decoration: underline;
    color: #f16d7f;
}

.sorting-wrapper {
    margin-top: 51px;
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
}

.sorting-column {
    width: 360px;
}

.sorting-text {
    padding-left: 15px;
    padding-right: 11px;
    float: left;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.sorting-list li {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
}

.sorting-item::after {
    content: url(../img/down-arrow.png);
    margin-left: 10px;
}

/* CONTENT */

.content {
    /*outline: 1px solid green; /*рамка для отладки*/
    flex-grow: 1; /*прижимаем подвал к низу*/
    margin-bottom: 95px;
}

/* CATEGORIES */

.categories {
    padding-top: 65px;
    padding-bottom: 96px;
}

.categories-wrapper,
.product-wrapper {
    display: flex;
    flex-wrap: wrap; /*перенос на другую строку*/
    justify-content: space-between;
    gap: 30px;
}

.categories-item {
    /*outline: 1px solid green; /*рамка для отладки*/
    background: #c4c4c4;
    width: 360px;
    height: 260px;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.categories-item-women {
    background-image: url(../img/cat-women.jpg);
}

.categories-item-men {
    background-image: url(../img/cat-men.jpg);
}

.categories-item-kids {
    background-image: url(../img/cat-kids.jpg);
}

.categories-item-acces {
    background-image: url(../img/cat-acces.jpg);
    width: 100%;
    height: 180px;
}

.categories-text-sale {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}

.categories-text-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
}

/* PRODUCT */

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card {
    /*outline: 1px solid green; /*рамка для отладки*/
    width: 360px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
}

.product-card-description {
    margin: 24px 29px 20px 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.product-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.product-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9f9f9f;
    margin-bottom: 48px;
}

.product-card-title {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.product-card-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5d5d5d;
    padding-top: 13px;
    padding-bottom: 18px;
}

.product-card-price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #f16d7f;
    margin-top: auto;
}

.product-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #f26376;
    border: 1px solid #ff6a6a;
    padding: 15px 39px;
    margin-top: 48px;
}

.product-link:hover {
    background-color: #f263762c;
}

.pagination {
    margin-top: 48px;
}

/* SERVIS */

.service {
    background-color: #222224;
    padding: 104px 0;
    color: #fff;
}

.service-wrapper {
    display: flex;
    justify-content: space-between;
}

.service-card {
    /*outline: 1px solid green; /*рамка для отладки*/
    width: 360px;
    text-align: center;
    align-items: center;
}

.service-card img {
    height: 35px;
}

.service-card-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #fbfbfb;
    padding-top: 19px;
}

.service-card-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #fbfbfb;
    padding-top: 16px;
}

/* feedback */

.feedback {
    background-image: url(../img/subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 448px;
}

.feedback-wrapper {
    display: flex;
    justify-content: space-between;
}

.reviews {
    /*outline: 1px solid green; /*рамка для отладки*/
    width: 360px;
    height: 448px;
    text-align: center;
    padding-top: 87px;
}

.reviews-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #222224;
    margin-top: 30px;
}

.reviews-text span {
    font-style: italic;
}

.subscription {
    /*outline: 1px solid green; /*рамка для отладки*/
    width: 557px;
    text-align: center;
    padding-top: 150px;
}

.subscription-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #222224;
    margin-bottom: 30px;
}

.subscription-text {
    font-weight: 400;
    font-size: 18px;
}

.subscribe-form {
    display: flex;
    justify-content: center;
}

.subscribe-form-field {
    /* width: 256px; */
    border: none;
    background-color: #e1e1e1;
    padding-left: 22px;
    padding-right: 64px;
    border-radius: 2em 0 0 2em;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
}

.subscribe-form-button {
    /* width: 100px; */
    border: none;
    background-color: #f16d7f;
    padding: 16px 19px;
    border-radius: 0 2em 2em 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}

.footer {
    background-color: #222224;
    padding-top: 24px;
    padding-bottom: 23px;
    color: #fbfbfb;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.network-box {
    display: flex;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fbfbfb;
}

.network-link {
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    margin-left: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.network-link:hover {
    background-color: #f16d7f;
}
