/* Цветовая гамма розового цвета
		#f16d7f - основной цвет		
		цвета получены математически от основного:
		#ff6a6a - цвет рамки 
		#f26376 - цвет надписи кнопки
		#ef5b70 - прочие элементы
*/
$desktopWidht: 1140px;
$font: "Lato", sans-serif;
$fontSize: 14px;
$fontLineHeight: 17px;
$colorMain: #f16d7f;
$colorBgMain: #222222;
$colorBgPromo: #f1e4e6;
$colorBgHeading: #f8f3f4;
$timeAnimLogoBounce: 1.7s; // время анимации подпрыгивание
$timeAnimLogoPulsing: 1.8s; // время анимации пульсирование
$cycleAnimLogoPulsing: 1; // цикл анимации пульсирование
$timeTransLink: 0.4s; // время трансформации ссылок и кнопок
$timeTransNetwork: 0.5s; // время трансфопмации иконок соцсети

@mixin fontstyle($weight, $size, $height) {
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $font;
    font-size: $fontSize;
    line-height: $fontLineHeight;
}

.container {
    width: $desktopWidht;
    margin: 0 auto;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip-path: inset(50%);
}

.content {
    flex-grow: 1;
    margin-bottom: 95px;
}

/* header */
@import "blocks/_header";

/* promo */
.promo {
    background-color: $colorBgPromo;
    min-height: 764px;

    &-wrapper {
        background-image: url(../img/promo.png);
        background-repeat: no-repeat;
        min-height: inherit;
        background-position-x: -226px;
        background-position-y: bottom;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &-title {
        @include fontstyle(900, 48px, 38px);
        color: #222222;
        border-left: 12px solid $colorMain;
        padding-left: 16px;
        margin-right: 100px;
    }

    &-title-small {
        @include fontstyle(700, 32px, 38px);
    }

    &-title-pink {
        color: $colorMain;
    }
}

/* heading (catalog)*/
.heading {
    background-color: $colorBgHeading;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 148px;
    }

    &-title {
        @include fontstyle(normal, 24px, 29px);
        color: $colorMain;
    }
}

.breadcrumbs {
    &-list {
        list-style: none;
        display: flex;
        gap: 20px;
    }

    &-item::before {
        content: "/";
        margin-right: 10px;
    }

    &-item:first-child::before {
        display: none;
    }

    &-link {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 300;
        color: #636363;
        transition: $timeTransLink;

        &--current {
            font-weight: bold;
            color: $colorMain;
        }

        &[href]:hover {
            text-decoration: underline;
            color: $colorMain;
        }
    }
}

.sorting {
    &-wrapper {
        margin-top: 51px;
        margin-bottom: 64px;
        display: flex;
        justify-content: space-between;
    }

    &-column {
        width: 360px;
    }

    &-filter-link {
        text-decoration: none;
        padding-left: 15px;
        font-weight: 600;
        color: #000000;
        fill: #000000;
        transition: $timeTransLink;

        & svg {
            margin-left: 11px;
        }

        &:hover {
            color: ($colorMain - #02120f);
            fill: ($colorMain - #02120f);
        }
    }

    &-list {
        display: flex;
        gap: 28px;
    }

    &-name {
        font-weight: 400;
        color: #6f6e6e;
        fill: #6f6e6e;
        display: inline-block;
        cursor: pointer;
    }

    &-name::-webkit-details-marker {
        display: none;
    }

    &-name svg {
        margin-left: 10px;
    }

    &-item[open] &-name {
        color: ($colorMain - #02120f);
        fill: ($colorMain - #02120f);
    }

    &-overlay {
        position: absolute;
        z-index: 2;
        @include fontstyle(400, 14px, 16px);
        color: #6f6e6e;
        background-color: #fff;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        width: 79px;
        height: 103px;
        padding-top: 7px;
        padding-left: 9px;
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
}

/* slider */
.slider {
    background-color: #f7f7f7;
    min-height: 777px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 65px;

    &-button {
        width: 47px;
        height: 47px;
        border: none;
        font-size: 22px;
        transition: $timeTransLink;

        &:hover {
            color: $colorMain;
        }
    }
}

/* order */
.order {
    &-wrapper {
        position: relative;
        z-index: 0;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        /* min-height: 601px; */
        margin-top: -65px;
        margin-bottom: 128px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 64px;
    }

    &-content {
        width: 641px;
        // text-align: center;
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 65px;
        margin-bottom: 65px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-title {
        @include fontstyle(300, 14px, 17px);
        color: $colorMain;
        padding-top: 65px;
    }

    &-title::after {
        content: "";
        background-image: url(../img/rectangle_1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        padding-top: 27px;
    }

    &-title-1 {
        @include fontstyle(300, 18px, 22px);
        color: #4d4d4d;
    }

    &-text {
        width: 555px;
        // margin: 0 auto;
        padding-top: 52px;
        font-weight: 300;
        text-align: center;
        color: #5e5e5e;
    }

    &-price {
        @include fontstyle(300, 24px, 29px);
        color: ($colorMain - #02120f);
        padding-top: 28px;
    }

    &-link {
        position: relative;
    }

    &-link--1 {
        text-decoration: none;
        @include fontstyle(400, 16px, 19px);
        fill: ($colorMain + #010000 - #000a09);
        color: ($colorMain + #010000 - #000a09);
        border: 1px solid ($colorMain + #0e0000 - #000315);
        padding: 13px 55px 9px 24px;
        margin-top: 48px;

        display: flex;
        align-items: center;
        gap: 23px;

        overflow: hidden;
        transition: 0.6s;

        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: $colorMain;
            opacity: 0;

            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.6s, opacity 0.6s;
        }

        &:hover:after {
            transform: scaleX(1);
            opacity: 1;
        }

        &:hover {
            // background: $colorMain;
            fill: #ffffff;
            color: #ffffff;
        }
        // &:focus:after {
        // 	transform: scaleX(100%);
        // 	opacity: 1;
        // }

        // &:hover {
        //     background-color: $colorMain;
        //     fill: #ffffff;
        //     color: #ffffff;
        //     animation: order-link 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;

        // }
    }
}

/* CATEGORIES */
.categories {
    padding-top: 65px;
    padding-bottom: 96px;

    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
    }

    &-item {
        background: #c4c4c4;
        width: 360px;
        height: 260px;
        text-align: center;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;

        &-women {
            background-image: url(../img/cat-women.jpg);
        }

        &-men {
            background-image: url(../img/cat-men.jpg);
        }

        &-kids {
            background-image: url(../img/cat-kids.jpg);
        }

        &-acces {
            background-image: url(../img/cat-acces.jpg);
            width: 100%;
            height: 180px;
        }
    }

    &-text-sale {
        @include fontstyle(400, 16px, 19px);
        color: #ffffff;
    }

    &-text-name {
        @include fontstyle(700, 24px, 29px);
        color: $colorMain;
    }
}

/* product */
.product {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
    }

    &-title {
        @include fontstyle(400, 30px, 36px);
        color: #222222;
        margin-bottom: 6px;
    }

    &-text {
        font-weight: 400;
        color: #9f9f9f;
        margin-bottom: 48px;
    }

    &-link {
        position: relative;
    }

    &-link--1 {
        text-decoration: none;
        @include fontstyle(400, 16px, 19px);
        color: ($colorMain + #010000 - #000a09);
        border: 1px solid ($colorMain + #0e0000 - #000315);
        padding: 15px 39px;
        margin-top: 48px;
        overflow: hidden;
        transition: color 0.7s;

        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: $colorMain;
            opacity: 0;

            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.7s, opacity 0.7s;
        }

        &:hover:after {
            // background-color: $colorMain;
            // color: #ffffff;
            transform: scaleX(1);
            opacity: 1;
        }

        &:hover {
            color: #ffffff;
        }
    }

    &-margin {
        padding-bottom: 33px;
    }
}

.product-card {
    width: 360px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    position: relative;

    &-overlay {
        position: absolute;
        background: rgba(58, 56, 56, 0.86);
        width: 100%;
        height: 420px;
        display: flex;
        justify-content: center;
        align-items: center;
        // display: none;
        opacity: 0;
        transition: opacity 0.4s ease-out 0s;
    }

    &:hover &-overlay {
        // display: flex;
        opacity: 1;
        transition: opacity 0.8s ease-out 0.2s;
    }

    &-btn {
        position: absolute; /* для карточки с видео */
        z-index: 1; /* для карточки с видео */
        background-color: transparent;
        border: 1px solid #fff;
        font-family: "Lato", sans-serif;
        @include fontstyle(400, 14px, 17px);
        fill: #fff;
        color: #fff;
        padding: 10px 15px 7px 13px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 11px;
        transition: $timeTransLink;

        &:hover {
            border: 1px solid $colorMain;
            fill: $colorMain;
            color: $colorMain;
        }
    }

    &-video {
        height: 420px;
    }

    &-description {
        margin: 24px 29px 20px 16px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &-title {
        @include fontstyle(700, 13px, 16px);
    }

    &-link {
        text-decoration: none;
        color: #000000;
        transition: color 0.4s;

        &:hover {
            color: $colorMain;
        }
    }

    &-text {
        font-weight: 300;
        color: #5d5d5d;
        padding-top: 13px;
        padding-bottom: 18px;
    }

    &-price {
        @include fontstyle(400, 16px, 19px);
        color: $colorMain;
        margin-top: auto;
    }
}

.pagination {
    margin-top: 48px;
    display: flex;
    justify-content: center;

    &-list {
        list-style: none;
        display: flex;
        gap: 22px;
        border: 1px solid #ebebeb;
        padding: 12px 15px;
        @include fontstyle(300, 16px, 19px);
        color: #c4c4c4;
    }

    &-item:first-child {
        margin-right: -4px;
        color: #000;
    }

    &-item:last-child {
        margin-left: -4px;
        color: #000;
    }

    &-item--separator {
        margin: 0 -20px;
    }

    &-link {
        text-decoration: none;
        color: inherit;
        transition: $timeTransLink;
    }
    &-link--arrow:hover {
        color: ($colorMain - #02120f);
    }

    &-link--active {
        color: ($colorMain - #02120f);
    }
    &-link--hov:hover {
        color: #000;
    }
}

/* service */
@import "blocks/service";

/* feedback */
@import "blocks/feedback";

/* footer */
@import "blocks/footer";
