* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

.content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 95px;
}

/* header */
.header {
  background-color: #222222;
  padding: 18px 0;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 41px;
  line-height: 0;
}

.header-raight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 33px;
  margin-right: 10px;
}

.header-logo-link {
  -webkit-animation: bounce-in-fwd 1.7s both;
          animation: bounce-in-fwd 1.7s both;
}

.header-logo-link span {
  display: block;
  -webkit-animation: pulsing 1.8s 1 normal;
          animation: pulsing 1.8s 1 normal;
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

.header-button {
  background-color: transparent;
  border: none;
  fill: #e8e8e8;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-link {
  position: relative;
  /* text-decoration: transparent; */
  text-decoration: none;
  fill: #e8e8e8;
  -webkit-transition: fill 0.4s;
  transition: fill 0.4s;
}

.header-button:hover, .header-link:hover {
  fill: #f16d7f;
}

.basket-number {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 19px;
  height: 19px;
  font-size: 12px;
  color: #ffffff;
  background-color: #f16d7f;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav {
  position: absolute;
  right: 0;
  top: 74px;
  width: 232px;
  height: 764px;
  background-color: #ffffff;
  color: #000000;
  padding: 16px 16px 16px 33px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.main-nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-nav-button {
  font-weight: 700;
  fill: #6f6e6e;
  border: none;
  background-color: transparent;
  margin-bottom: 9px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main-nav-button:hover {
  fill: #f16d7f;
}

.main-nav-title {
  font-weight: 700;
  color: #000000;
  padding-bottom: 4px;
}

.main-nav-list {
  list-style-type: none;
}

.main-nav-item {
  padding-top: 20px;
}

.main-nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #f16d7f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main-nav-link:hover {
  border-bottom: 1px solid #f16d7f;
}

.main-nav-close {
  display: none;
}

.submenu-list {
  list-style-type: none;
  padding-left: 22px;
}

.submenu-item {
  padding-top: 12px;
}

.submenu-link {
  text-decoration: none;
  color: #6f6e6e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.submenu-link:hover {
  color: #f16d7f;
}

@-webkit-keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

/* promo */
.promo {
  background-color: #f1e4e6;
  min-height: 764px;
}

.promo-wrapper {
  background-image: url(../img/promo.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: inherit;
  background-position-x: -226px;
  background-position-y: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.promo-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 38px;
  color: #222222;
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
  margin-right: 100px;
}

.promo-title-small {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.promo-title-pink {
  color: #f16d7f;
}

/* heading (catalog)*/
.heading {
  background-color: #f8f3f4;
}

.heading-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 148px;
}

.heading-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.breadcrumbs-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.breadcrumbs-item::before {
  content: "/";
  margin-right: 10px;
}

.breadcrumbs-item:first-child::before {
  display: none;
}

.breadcrumbs-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  color: #636363;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.breadcrumbs-link--current {
  font-weight: bold;
  color: #f16d7f;
}

.breadcrumbs-link[href]:hover {
  text-decoration: underline;
  color: #f16d7f;
}

.sorting-wrapper {
  margin-top: 51px;
  margin-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sorting-column {
  width: 360px;
}

.sorting svg {
  margin-left: 11px;
}

.sorting-name::-webkit-details-marker {
  display: none;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

.sorting-name {
  font-weight: 400;
  color: #6f6e6e;
  fill: #6f6e6e;
  display: inline-block;
  cursor: pointer;
}

.sorting-name::-webkit-details-marker {
  display: none;
}

.sorting-name svg {
  margin-left: 10px;
}

.sorting-item[open] .sorting-name {
  color: #ef5b70;
  fill: #ef5b70;
}

.sorting-overlay {
  position: absolute;
  z-index: 2;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6f6e6e;
  background-color: #fff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 79px;
  height: 103px;
  padding-top: 7px;
  padding-left: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}

.filter {
  position: relative;
  width: 360px;
}

.filter[open] {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter[open] .filter-title {
  color: #f16d7e;
  fill: #f16d7e;
}

.filter-title {
  position: relative;
  z-index: 2;
  font-weight: 600;
  color: #000000;
  fill: #000000;
  background-color: #fff;
  padding: 13px 16px 0 16px;
  display: block;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.filter-overlay {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 100%;
  padding: 17px;
}

.filter-item:nth-last-child(n + 2) {
  margin-bottom: 16px;
}

.filter-item[open] .filter-name {
  color: #f16d7e;
}

.filter-name {
  display: block;
  padding: 8px 11px 11px 11px;
  border-left: 5px solid #f16d7e;
  border-bottom: 1px solid #ebebeb;
  color: #6f6e6e;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.filter-title::-webkit-details-marker {
  display: none;
}

.filter-list {
  list-style-type: none;
  padding: 24px 18px 0px 18px;
}

.filter-button {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  border: none;
  background-color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.filter-button:hover {
  color: #f16d7f;
}

.filter-list li:nth-last-child(n + 2) {
  padding-bottom: 11px;
}

.filter-list li:nth-last-child(1) {
  padding-bottom: 8px;
}

/* slider */
.slider {
  background-color: #f7f7f7;
  min-height: 777px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 65px;
}

.slider-button {
  width: 47px;
  height: 47px;
  border: none;
  font-size: 22px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider-button:hover {
  color: #f16d7f;
}

/* order */
.order-wrapper {
  position: relative;
  z-index: 0;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  /* min-height: 601px; */
  margin-top: -65px;
  margin-bottom: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 64px;
}

.order-content {
  width: 641px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 65px;
  margin-bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-title {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  padding-top: 65px;
}

.order-title::after {
  content: "";
  background-image: url(../img/rectangle_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  padding-top: 27px;
}

.order-title-1 {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
}

.order-text {
  width: 555px;
  padding-top: 52px;
  font-weight: 300;
  text-align: center;
  color: #5e5e5e;
}

.order-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ef5b70;
  padding-top: 28px;
}

.order-link {
  position: relative;
}

.order-link--1 {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  fill: #f26376;
  color: #f26376;
  border: 1px solid #ff6a6a;
  padding: 13px 55px 9px 24px;
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
  overflow: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.order-link--1::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f16d7f;
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: transform 0.6s, opacity 0.6s;
  transition: transform 0.6s, opacity 0.6s, -webkit-transform 0.6s;
}

.order-link--1:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

.order-link--1:hover {
  fill: #ffffff;
  color: #ffffff;
}

/* CATEGORIES */
.categories {
  padding-top: 65px;
  padding-bottom: 96px;
}

.categories-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.categories-item {
  background: #c4c4c4;
  width: 360px;
  height: 260px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* align-items: center; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.categories-item-women {
  background-image: url(../img/cat-women.jpg);
}

.categories-item-men {
  background-image: url(../img/cat-men.jpg);
}

.categories-item-kids {
  background-image: url(../img/cat-kids.jpg);
}

.categories-item-acces {
  background-image: url(../img/cat-acces.jpg);
  width: 100%;
  height: 180px;
}

.categories-text-sale {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.categories-text-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

/* product */
.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.product-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.product-text {
  font-weight: 400;
  color: #9f9f9f;
  margin-bottom: 48px;
}

.product-link {
  position: relative;
}

.product-link--1 {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  border: 1px solid #ff6a6a;
  padding: 15px 39px;
  margin-top: 48px;
  overflow: hidden;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
}

.product-link--1::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f16d7f;
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: opacity 0.7s, -webkit-transform 0.7s;
  transition: opacity 0.7s, -webkit-transform 0.7s;
  transition: transform 0.7s, opacity 0.7s;
  transition: transform 0.7s, opacity 0.7s, -webkit-transform 0.7s;
}

.product-link--1:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

.product-link--1:hover {
  color: #ffffff;
}

.product-margin {
  padding-bottom: 33px;
}

.product-card {
  width: 360px;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.product-card-overlay {
  position: absolute;
  background: rgba(58, 56, 56, 0.86);
  width: 100%;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-out 0s;
  transition: opacity 0.4s ease-out 0s;
}

.product-card:hover .product-card-overlay {
  opacity: 1;
  -webkit-transition: opacity 0.8s ease-out 0.2s;
  transition: opacity 0.8s ease-out 0.2s;
}

.product-card-btn {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  border: 1px solid #fff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  fill: #fff;
  color: #fff;
  padding: 10px 15px 7px 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.product-card-btn:hover {
  border: 1px solid #f16d7f;
  fill: #f16d7f;
  color: #f16d7f;
}

.product-card-video {
  height: 420px;
}

.product-card-description {
  margin: 24px 29px 20px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.product-card-title {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}

.product-card-link {
  text-decoration: none;
  color: #000000;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.product-card-link:hover {
  color: #f16d7f;
}

.product-card-text {
  font-weight: 300;
  color: #5d5d5d;
  padding-top: 13px;
  padding-bottom: 18px;
}

.product-card-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  margin-top: auto;
}

.pagination {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
  border: 1px solid #ebebeb;
  padding: 12px 15px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
}

.pagination-item:first-child {
  margin-right: -4px;
  color: #000;
}

.pagination-item:last-child {
  margin-left: -4px;
  color: #000;
}

.pagination-item--separator {
  margin: 0 -20px;
}

.pagination-link {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.pagination-link--arrow:hover {
  color: #ef5b70;
}

.pagination-link--active {
  color: #ef5b70;
}

.pagination-link--hov:hover {
  color: #000;
}

/* service */
.service {
  background-color: #222224;
  padding: 104px 0;
}

.service-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-card {
  width: 360px;
  text-align: center;
  color: #fbfbfb;
}

.service-card-logo {
  padding-top: 60px;
  background-repeat: no-repeat;
  background-position: center top;
}

.service-card-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.service-card-text {
  font-weight: 300;
  padding-top: 16px;
}

.service-card-img1 {
  background-image: url(../img/logo-delivery.png);
}

.service-card-img2 {
  background-image: url(../img/logo-discounts.png);
}

.service-card-img3 {
  background-image: url(../img/logo-quality.png);
}

/* feedback */
.feedback {
  background-image: url(../img/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 448px;
}

.feedback-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews {
  width: 360px;
  text-align: center;
  margin-top: 87px;
}

.reviews-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
  margin-top: 30px;
}

.reviews-text span {
  font-style: italic;
}

.subscription {
  width: 557px;
  text-align: center;
  margin-top: 150px;
}

.subscription-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #222224;
  margin-bottom: 30px;
}

.subscription-text {
  font-weight: 400;
  font-size: 18px;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.subscribe-form-field {
  border: none;
  background-color: #e1e1e1;
  padding-left: 22px;
  padding-right: 64px;
  border-radius: 2em 0 0 2em;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.subscribe-form-button {
  border: none;
  background-color: #f16d7f;
  padding: 16px 19px;
  border-radius: 0 2em 2em 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.subscribe-form-button:hover {
  background-color: #e05c6e;
  -webkit-box-shadow: 5px 0px 12px #e05c6e;
          box-shadow: 5px 0px 12px #e05c6e;
}

/* footer */
.footer {
  background-color: #222224;
  padding-top: 24px;
  padding-bottom: 23px;
  color: #fbfbfb;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}

.network-link {
  width: 32px;
  height: 32px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  /* margin-left: 7px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
          transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  /* easeInOutCirc */
}

.network-link:hover {
  background-color: #f16d7f;
  color: #ffffff;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/* table 768 */
@media (max-width: 800px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }
  .main-nav {
    display: none;
  }
  .promo {
    min-height: 368px;
  }
  .promo-wrapper {
    background-position-x: 0;
  }
  .promo-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 29px;
    margin-right: 18px;
  }
  .promo-title-small {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
  .categories-wrapper {
    gap: 20px;
  }
  .categories-item {
    width: 232px;
    height: 168px;
  }
  .categories-item-acces {
    width: 100%;
    height: 116px;
  }
  .product-wrapper {
    gap: 16px;
  }
  .service {
    padding: 48px 0 64px 0;
  }
  .service-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 48px;
  }
  .feedback {
    background-size: 100% 100%;
    min-height: 629px;
  }
  .feedback-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reviews {
    margin-top: 64px;
    height: 225px;
  }
  .subscription {
    margin-top: 48px;
  }
}
/*# sourceMappingURL=style.css.map */