.footer {
    background-color: ($colorBgMain + #000002);
    padding-top: 24px;
    padding-bottom: 23px;
    color: #fbfbfb;

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-text {
        @include fontstyle(400, 16px, 19px);
        color: #fbfbfb;
    }
}

.network {
    display: flex;
    gap: 7px;

    &-link {
        width: 32px;
        height: 32px;
        color: #000000;
        background-color: #ffffff;
				text-decoration: none;
        font-size: 15px;        
        /* margin-left: 7px; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-link:hover {
        background-color: $colorMain;
        color: #ffffff;
    }
}
